# MongoDB Atlas
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/neotravel?retryWrites=true&w=majority&appName=Cluster0

# Port (Render utilise 10000 en production)
PORT=4000

# URL du frontend (pour CORS en production)
FRONTEND_URL=https://votre-projet.vercel.app

# Admin secret (header x-admin-secret)
ADMIN_SECRET=neotravel-admin-2024

# Environnement
NODE_ENV=development
