# MongoDB
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/neotravel?retryWrites=true&w=majority

# Port
PORT=4000

# Admin secret (simple protection dashboard)
ADMIN_SECRET=neotravel-admin-2024

# Environnement
NODE_ENV=development
